<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Haneen News Portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}">
</head>
<body>
	<h1>*** Welcome to Haneen News Portal *** </h1>
	<img src="{% static 'images/news.jpg' %}" alt="">
	<ul>
		<li><a href="movie/"> Movies Information</li>
		<li><a href="sports/"> Sport Information</li>
		<li><a href="politics/"> Politics Information</li>

	</ul>
</body>
</html>